<div class="w-100 h-100 d-flex flex-column align-items-center">
    <div *ngIf="loading" class="loading w-100">
        <h1>Loading</h1>
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="!loading" class="post d-flex flex-column align-items-center">
        <div class="post-body flex-grow-1">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h1>{{title}}</h1>
                <post-actions
                    [id]="id"
                    [likes]="likes"
                    [dislikes]="dislikes"
                    [display-alert]="true"
                ></post-actions>
            </div>
            <line color="rgb(202, 138, 0)" height="1px"></line>
            <p>{{text}}</p>
        
            <line color="rgb(202, 138, 0)" height="1px"></line>            
        </div>
        <div class="image-container">
            <blog-item-image [image]="image" (load)="onImageLoaded()"></blog-item-image>
        </div>
    </div>
</div>


<!-- <img [src]="image" >
<p>
 {{ text }}
</p> -->
